
header {
    background-color: red;
    line-height: 35px;
    text-align: center;
}

.content{
    width: 70% ;
    margin-left: 200px ;

}

.main {
    padding: 5px;
    margin-top: 50px;
    text-align: center;
    
}

#menu{
    padding: 5px;
    margin-top: 15px;
    text-align: center;

}

#hero-camp{
    background-color: black;
}
#header-image{
    position: relative;
}



#character {

}

#searchbar{
   
    padding: 5px;
}
#appearson{

    padding: 5px;
}

#saveBtn{
    
    padding: 5px;
}

#lineup{
  
    padding: 5px;
}

#info{
   
    padding: 5px;
}

.lineup{
    padding: 5px;
    margin-top: 50px;

}

h1 {
    background-color: red;
    line-height: 35px;
    text-align: center;
}

.selects{
    padding: 5px;
}


.info{
    padding: 5px;
    margin-top: 50px;

}