

@font-face{
    src: url(./fonts/AvengeroRegular-zvgl.ttf);
    font-family: marvel;
}

@font-face{
    src: url(./fonts/GT-Pressura-Bold-Italic.ttf);
    font-family: GT;
}

header {
    background-color: rgb(173, 6, 6);
    line-height: 35px;
    text-align: center;
    
}

h1 {
    background-color: red;
    line-height: 35px;
    text-align: center;
}
p {
    font: 16px;
    line-height: 20px;
    color: rgb(173, 6, 6);
    font-family: GT;
}


.h2 {
    background-color: rgb(173, 6, 6);
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 6px;
    font-family: marvel;
}



/* HEADER  IMG*/

#hero-camp{
    background-color: black;
    width: 100%;
    text-align: center;
    position: fixed;
}
#hero-camp img{
padding-top: 10px;
padding-bottom: -2px;
}

#header-image{
    padding-top: 70px;

}







/* Searcg Container CSS */
.main {
    padding: 5px;
    margin-top: 50px;
    text-align: center;
    
}

.menu{
    padding: 5px;
    margin-top: 15px;
    text-align: center;

}


#searchbar{
    text-align: center;
    padding-top: 7px;
    max-width: 100%;
    margin: 10px 0px 3px 0px ;
    
}



.search-button{
    border: 3px solid  rgb(173, 6, 6) ;
    color: rgb(173, 6, 6);
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 6px;
    font-family: marvel;
    margin-top: 5px;
    width: 100%;

}


.button:hover{
    border: 3px solid  rgb(173, 6, 6) ;
    background-color: rgb(173, 6, 6);
    color: rgb(255, 255, 255);
   
 
}


#character{
    height: 450px;

}
#charName{
    color: rgb(173, 6, 6);
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    padding-top: 6px;
    font-family: marvel;

}

.button{
    border: 3px solid  rgb(173, 6, 6) ;
    color: rgb(173, 6, 6);
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 8px;
    font-family: marvel;
    margin-top: 5px;
    width: 100%;

}

#saveBtn{
    width: 99%;
    margin-left: 5px;
}

#appearson{
    padding-top: 25px;
   
}





/* Line Up Container CSS */


}
.lineup{
    padding: 5px;
    margin-top: 50px;

}
.instructions{
    height: 100px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
}

#char-line{
    margin: 15px;
}






/* Movie list Container CSS */
#movieSearch{
    text-align: center;

}


.movie-box{
    border: 2px solid black;
    font-size: 16px;
    width: 325px;
    margin: 15px 10px 60px 20px;
    padding: 5px 5px 14px 5px;
    text-align: center;
    float: left;

}

.img-thumb{
    max-height: 350px;
}


#movieinfo-list{
margin: 120px  35px 25px 160px ;
max-width: 77%;
font-size: 20px;
text-align: center;
border: 2px solid red;
background-color: rgb(206, 206, 206);
}

.info-photo{
 height: 620px;
}



/* 
#youtube-video{
    margin-right: 5px;
    width: 45%;
}
#youtube-list{
    width: 55%;

}

article{
    display: flex;
    padding: 8px 4px 8px 4px;   
    transition: transform .2s;
}
 */

/* 
article:hover{
    border: 2px solid red;
    background-color: white;
    -ms-transform: scale(1.15); /* IE 9 */
 
}



*Footer*/
.info{
    padding: 5px;
    margin-top: 50px;

}


.legal{
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: marvel;
    line-height: 25px;
    text-align: center;
}





@media(min-width:960px){
    .content{
        width: 70% ;
        margin-left: 200px ;
    
    }
}



@media(min-width:960px){
    #movie-list{
        text-align: center;
        margin-left: 50px;
    
    }
    }